<!-- Stripe Oauth Connect -->
  <ul class="list-group">
    <li class="list-group-item" id="stripe-oauth">
      <!-- Call stripe controller's oauth action -->
      <p>下のボタンをクリックした後、情報を入力することで銀行口座を登録できます。</p>
      <%= link_to stripe_oauth_path do%>
        <%= image_tag "blue-on-light.png"%>    
      <% end %>
    </li>
  </ul> 
<!--/ Stripe Oauth Connect -->