<div class='panel panel-primary'>
  <div class='panel-body'>
    <p>口座情報を変更する場合は下のボタンを押して</p>
    <p>再度Stripeに接続して新しい口座情報を登録してください。</p>
    <%= link_to "口座情報を変更する",stripe_deauthorize_path,class:"btn btn-danger" %>
  </div>
</div>